.activity-record {
    display: flex;
    flex-direction: row;
    padding: 5px 10px;

    .activity-icon {
        border: 1px solid rgb(175, 175, 175);
        border-radius: 5px;
        height: 32px;
        width: 32px;
        margin-right: 5px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        &-type {
            height: 60%;
            bottom: 6px;
            position: relative;
        }

        .activity-direction {
            background-color: lightgray;
            height: 40%;
            width: 40%;
            border-radius: 10px;
            position: relative;
            top: -3px;
            right: -14px;
            &-icon {
                position: relative;
                top: -3px;
                right: -1px;
                height: 10px;
            }
            .outgoing-call-icon {
                transform: rotate(180deg);
            }
        }
    }

    .activity-details {
        display: flex;
        flex-direction: column;

        .activity-title {
            width: 240px;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
        }

        .activity-contact{
            font-size: 12px
        }

        .activity-user-date {
            display: flex;
            flex-direction: row;
            font-size: 12px;
            
            .user-icon {
                height: 18px;
                margin-right: 5px;
            }
        }
    }
}
