$base-blue: #283454;

.popup-container {
    display: flex;
    flex-direction: row;
    position: absolute;
    transition: 0.5s;

    .popup-title {
        color: #656d84;
        background-color: $base-blue;
        writing-mode: vertical-lr;
        transform: rotate(180deg);
        font-size: 20px;
        height: 155px;
        padding: 5px;
        border-top-right-radius: 5px;
        border-bottom-right-radius: 5px;
    }

    .popup-body {
        display: flex;
        flex-direction: column;
        width: 300px;
        font-size: 14px;

        .popup-header {
            background-color: #38435e;
            padding: 5px;

            .call-status {
                background-color: $base-blue;
                border-radius: 10px;
                color: #fff;
                display: flex;
                justify-content: center;
                align-items: center;
                padding: 0 5px;
                height: 20px;

                .status-icon {
                    background-color: orange;
                    height: 12px;
                    width: 12px;
                    border-radius: 10px;
                    position: relative;
                    left: -90px;
                }
            }
        }

        .operations {
            display: flex;
            flex-direction: row;
            height: 40px;
            width: 100%;

            .call {
                display: flex;
                flex-direction: row;
                align-items: center;
                justify-content: center;
                color: #fff;
                padding: 5px;

                &-time {
                    background-color: rgb(255, 98, 41);
                    width: 25%;
                    justify-content: space-around;
                }
                &-number {
                    background-color: $base-blue;
                    width: 45%;
                }
                &-operations {
                    background-color: $base-blue;
                    width: 30%;
                    .transfer-icon {
                        transform: rotate(90deg);
                    }
                }
            }
        }

        .user-details {
            display: flex;
            flex-direction: column;
            padding: 5px;

            .user-header {
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                align-items: center;
                padding: 3px;

                .user-name {
                    font-size: 16px;
                }

                .contact {
                    border: 1px solid rgb(175, 175, 175);
                    color: rgb(175, 175, 175);
                    border-radius: 5px;
                    padding: 3px;
                }
            }

            .user-position, .user-company {
                padding: 3px;
            }
        }

        .tab-section {
            box-shadow: -3px 6px 7px 3px rgba(102,102,102,0.62);
            
            ::ng-deep .mat-tab, ::ng-deep .mat-tab-label {
                min-width: unset;
                width: 100px;
                height: 30px;
                color: rgb(105, 105, 105);
            }        
            ::ng-deep .mat-tab-label  {
                background-color: lightgray;
                &-active {
                    background-color: rgb(190, 190, 190);
                    color: black;
                }
            }
            ::ng-deep .mat-ink-bar {
                background-color: rgb(0, 174, 255);
            }

        }
    }
}

img {
    padding: 2px;
}
